*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(170, 107, 228);
}
#container{
    height: 500px;
    width: 500px;
    background-color: rgb(87, 16, 154);
    margin:200px auto;
    border-radius: 30px;
}
h1{
    position: relative;
    top: 10px;
    font-size: 50px;
    margin-left: 125px;
}
#question{
    position: relative;
    top: 20px;
    left: 70px;
    font-size: 28px;
    font-weight: bolder;
}
#option{
    height: 80%;
    display: flex;
    flex-direction: column;
    left: 10px;
    justify-content: space-evenly;
}
.optionButton{
    font-size: 30px;
    border-radius: 5px;
    border: none;
    color: rgb(163, 160, 227);
}
#score{
    position: relative;
    bottom: 20px;
    margin-left: 30px;
    margin-bottom: 50px;
    font-size: 25px;
}